.lines {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  position: absolute;
  width: 939px;
  top: 52px;
  z-index: -1;
  grid-column-gap: 240px;
  &__item {
    border: 1px solid $color1;
    border-top: none;
    width: 240px;
    height: 988px;
    background-color: $color4;
  }
}
.line {
  position: absolute;
  top: 52px;
  display: flex;
  justify-content: center;
  width: 937px;
  z-index: -2;
  &__item {
    border: 1px solid $color1;
    width: 480px;
    height: 1185px;
    border-top: none;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: $color1;
    bottom: -50px;
  }
}
