@import "pools";

@import "lines";

.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-bd-700{
    font-weight: 700;
  }
  &-red {
    color: $color1;
  }
  &-white {
    color: $main2;
  }
  &-gray {
    color: $color3;
  }
}
.box{
  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}