.pools {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  &-group-title {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    justify-content: space-around;
    padding: 14px 0;
    font-size: 1.8rem;
  }
  &-group__title {
    height: 90px;
  }
  &-wrapper {
    position: relative;
  }
  &__title {
    padding-top: 5px;
  }
  &__item {
    width: 219px;
    height: 107px;
    text-align: center;
    background-color: $main2;
    padding: 5px;
    &_bg {
      background-color: transparent;
    }
  }
  &_3 {
    grid-template-columns: auto auto auto;
    justify-content: center;
    &-padding-top {
      padding-top: 93px;
    }
  }

  &_4 {
    grid-template-columns: auto;   
    justify-content: center;
    &-padding-top {
      padding-top: 90px;
    }
  }
  &__date {
    font-size: 1.2rem;
    color: $main1;
  }
  &__countries {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 7.5px;
    justify-content: center;
    align-items: center;
    padding: 7px 0 9px;
  }
  &__country {
    font-size: 1rem;
    &_let-spacing {
      letter-spacing: 2px;
    }
  }
  &__v {
    font-family: brush;
    font-size: 5.6rem;
    line-height: 0;
    transform: translateY(4px);
  }
  &__flag {
    border: 2px solid $main2;
    box-shadow: -2px 2px 4px $color2;
    &_empty {
      width: 33px;
      height: 28px;
      display: block;
      background: $color8;
      background: -moz-linear-gradient(45deg, $color8 0%, $color9 100%);
      background: -webkit-linear-gradient(45deg, $color8 0%, $color9 100%);
      background: linear-gradient(45deg, $color8 0%, $color9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  &__info {
    font-size: 1.1rem;
    font-family: Arial;
    color: $color10;
  }
}
