@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";

html {
  font-size: 61.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  line-height: 1.4;
  height: 100%;
  color: $color7;
  font-weight: 400;
  font-family: Montserrat;
  background: $color5;
  background: -moz-linear-gradient(45deg, $color5 2%, $color4 50%, $color6 98%);
  background: -webkit-linear-gradient(
    45deg,
    $color5 2%,
    $color4 50%,
    $color6 98%
  );
  background: linear-gradient(45deg, $color5 2%, $color4 50%, $color6 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#251014', endColorstr='#0f2732',GradientType=1 );
}

::-moz-selection {
  background: #e8e9e7;
  text-shadow: none;
}

::selection {
  background: #e9e9e8;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #222;

  &:hover {
    color: #555;
  }

  &:active {
    color: #ddd;
  }
}

ul {
  margin-bottom: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 1.75rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1,
h2,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
