@font-face {
    font-family: 'brush';
    src: url('../fonts/brush-webfont.woff') format('woff2'), url('../fonts/brush-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
