@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }
  
  @mixin md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }
  
  @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }
  
  @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }
  @mixin rwd($screen) {
    @media (min-width: $screen+"px") {
      @content;
    }
  }
  
  @mixin between($screenMin, $screenMax) {
    @media (min-width: $screenMin+"px") and(max-width: $screenMax +"px") {
      @content;
    }
  }
  