$main1: #000000;
$main2: #ffffff;
$color1: #e4042b;
$color2: #e6e2e2;
$color3: #cccccc;
$color4: #111111;
$color5: #251014;
$color6: #0f2732;
$color7: #676767;
$color8: #bcbcbc;
$color9: #ededed;
$color10: #777777;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1920px;
